{% extends "base.html" %}

{% block is_main %} active {% endblock %}
{% block is_about %} {% endblock %}

{% block content%}
    {% if is_logged %}
    <div class="container-fluid">
        {% for _ in range(3) %}
        <div class="row">
            {% for index in (0, 1) %}
            <div class="col">
                <table class="d-inline">
                    <tr>
                    <th>
                        Предмет
                    </th>
                    <th>
                        Домашнее задание
                    </th>
                    </tr>
                    {% for item_shed, item_ht, i in zip(weekdays[index][0].items(), weekdays[index][1].items(), range(1, 8)) %}
                    <tr>
                        <td>{{ i }}. {{ item_shed[1] }} </td>
                        <td>{{ item_ht[1] }}</td>
                    </tr>

                    {% endfor %}        
                </table>
            </div>
            {% endfor %}
        </div>
        {% set temp = weekdays.pop(0) %}
        {% set temp = weekdays.pop(0) %}
        {% endfor %}
    </div>
    {% else %}
    <h2>U are not logged in</h2>
    {% endif %} 
{% endblock %}